<a href="https://colab.research.google.com/github/SarraLKSC/SII-/blob/main/AARN_lab6_cheat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook aims to prepare/process the data of the 6th lab of neural network class.

In [115]:
import numpy as np
import pandas as pd

In [116]:
df=pd.read_csv("lettres data.csv")

In [117]:
df.head(5)

  letter  att1  att2  att3  att4  ...  att12  att13  att14  att15  att16
0      T     2     8     3     5  ...      8      0      8      0      8
1      I     5    12     3     7  ...      9      2      8      4     10
2      D     4    11     6     8  ...      7      3      7      3      9
3      N     7    11     6     6  ...     10      6     10      2      8
4      G     2     1     3     1  ...      9      1      7      5     10

[5 rows x 17 columns]

In [118]:
ord('Z')-65

25

In [119]:
for  i,row in df.iterrows():
  if (i>5):
    break;
  print(row['letter'])

T
I
D
N
G
S

In [120]:
print(df['letter'][0])

T

In [121]:
df['letter'][0]='T'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### **1- Integer encoding**

In [122]:
df_codified1=df.copy(True)

In [123]:
for  i,row in df_codified1.iterrows():
  x=row['letter']
  df_codified1['letter'][i]= ord(x)-65

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [124]:
df_codified1.head(5)

  letter  att1  att2  att3  att4  ...  att12  att13  att14  att15  att16
0     19     2     8     3     5  ...      8      0      8      0      8
1      8     5    12     3     7  ...      9      2      8      4     10
2      3     4    11     6     8  ...      7      3      7      3      9
3     13     7    11     6     6  ...     10      6     10      2      8
4      6     2     1     3     1  ...      9      1      7      5     10

[5 rows x 17 columns]

### **1- Binary encoding**

In [125]:
df_codified2=df_codified1.copy(True)

In [126]:
int(bin(5)[2:])

101

In [127]:
for  i,row in df_codified2.iterrows():
  x=row['letter']
  df_codified2['letter'][i]= int(bin(x)[2:])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [128]:
df_codified2.head(5)

  letter  att1  att2  att3  att4  ...  att12  att13  att14  att15  att16
0  10011     2     8     3     5  ...      8      0      8      0      8
1   1000     5    12     3     7  ...      9      2      8      4     10
2     11     4    11     6     8  ...      7      3      7      3      9
3   1101     7    11     6     6  ...     10      6     10      2      8
4    110     2     1     3     1  ...      9      1      7      5     10

[5 rows x 17 columns]

### **1- 1 of M encoding**

In [129]:
def one_hot (idx):
  vec=np.zeros((26),dtype=np.int8)
  vec[idx]=1
  tmp=''
  for item in vec :
    tmp=tmp+ str (item)
  return tmp

In [130]:
one_hot(5)

'00000100000000000000000000'

In [131]:
df_codified3=df_codified1.copy(True)

In [132]:
for i,row in df_codified3.iterrows():
  x=row['letter']
  df_codified3['letter'][i]= one_hot(x)
  if (i>20000):
    break;

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
df_codified3.head(5)

                       letter  att1  att2  att3  ...  att13  att14  att15  att16
0  00000000000000000001000000     2     8     3  ...      0      8      0      8
1  00000000100000000000000000     5    12     3  ...      2      8      4     10
2  00010000000000000000000000     4    11     6  ...      3      7      3      9
3  00000000000001000000000000     7    11     6  ...      6     10      2      8
4  00000010000000000000000000     2     1     3  ...      1      7      5     10

[5 rows x 17 columns]

In [137]:
df_codified1.to_csv('integer_encoded.txt',index=False)

In [138]:
df_codified2.to_csv('binary_encoded.txt',index=False)

In [139]:
df_codified3.to_csv('one_hot_encoded.txt',index=False)