<a href="https://colab.research.google.com/github/SarraLKSC/SII-/blob/main/Clean_Base_Diet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("all_cnty_yr_2015.csv")

In [ ]:
df.head(5)

  superregion2 iso3  countryname  ...  v57_wt_median  v57_lowerci_95  v57_upperci_95
0        SAARC  AFG  Afghanistan  ...      103.84782       34.508781       307.00015
1        SAARC  AFG  Afghanistan  ...      141.32283       49.329239       408.49686
2        SAARC  AFG  Afghanistan  ...      177.69585       60.637211       535.30798
3        SAARC  AFG  Afghanistan  ...      108.45268       34.508781       535.30798
4        SAARC  AFG  Afghanistan  ...      121.98797       41.345661       385.12958

[5 rows x 40 columns]

In [ ]:
#Gather nbr rows, nbr columns 
df.shape

(139860, 40)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139860 entries, 0 to 139859
Data columns (total 40 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   superregion2    139860 non-null  object
 1   iso3            139860 non-null  object
 2   countryname     139860 non-null  object
 3   female          139860 non-null  int64
 4   age             139860 non-null  int64
 5   urban           139860 non-null  int64
 6   edu             139860 non-null  int64
 7   v01_wt_median   139860 non-null  float64
 8   v01_lowerci_95  139860 non-null  float64
 9   v01_upperci_95  139860 non-null  float64
 10  v02_wt_median   139860 non-null  float64
 11  v02_lowerci_95  139860 non-null  float64
 12  v02_upperci_95  139860 non-null  float64
 13  v05_wt_median   139860 non-null  float64
 14  v05_lowerci_95  139860 non-null  float64
 15  v05_upperci_95  139860 non-null  float64
 16  v06_wt_median   139860 non-null  float64
 17  v06_lowerci_95  139860 non-null  float64
 18  v06_upperci_95  139860 non-null  float64
 19  v10_wt_median   139860 non-null  float64
 20  v10_lowerci_95  139860 non-null  float64
 21  v10_upperci_95  139860 non-null  float64
 22  v15_wt_median   139860 non-null  float64
 23  v15_lowerci_95  139860 non-null  float64
 24  v15_upperci_95  139860 non-null  float64
 25  v16_wt_median   139860 non-null  float64
 26  v16_lowerci_95  139860 non-null  float64
 27  v16_upperci_95  139860 non-null  float64
 28  v23_wt_median   139860 non-null  float64
 29  v23_lowerci_95  139860 non-null  float64
 30  v23_upperci_95  139860 non-null  float64
 31  v36_wt_median   139860 non-null  float64
 32  v36_lowerci_95  139860 non-null  float64
 33  v36_upperci_95  139860 non-null  float64
 34  v41_wt_median   139860 non-null  float64
 35  v41_lowerci_95  139860 non-null  float64
 36  v41_upperci_95  139860 non-null  float64
 37  v57_wt_median   139860 non-null  float64
 38  v57_lowerci_95  139860 non-null  float64
 39  v57_upperci_95  139860 non-null  float64
dtypes: float64(33), int64(4), object(3)
memory usage: 42.7+ MB

In [ ]:
#Drop unnecessary attributes aka cobaye identity
dropable=["superregion2","countryname","urban","edu","female","age"]

In [ ]:
df.drop(columns=dropable,inplace=True)

In [ ]:
df

       iso3  v01_wt_median  ...  v57_lowerci_95  v57_upperci_95
0       AFG      47.413273  ...       34.508781       307.00015
1       AFG      59.956844  ...       49.329239       408.49686
2       AFG      70.714760  ...       60.637211       535.30798
3       AFG      48.884312  ...       34.508781       535.30798
4       AFG      55.521770  ...       41.345661       385.12958
...     ...            ...  ...             ...             ...
139855  ZWE      89.854965  ...       34.842648       410.39999
139856  ZWE      68.779266  ...       22.885603       164.87851
139857  ZWE      87.059586  ...       35.240677       253.65860
139858  ZWE     109.648410  ...       56.493141       410.39999
139859  ZWE      78.436821  ...       22.885603       410.39999

[139860 rows x 34 columns]

In [ ]:
df.isnull().sum()

iso3              0
v01_wt_median     0
v01_lowerci_95    0
v01_upperci_95    0
v02_wt_median     0
v02_lowerci_95    0
v02_upperci_95    0
v05_wt_median     0
v05_lowerci_95    0
v05_upperci_95    0
v06_wt_median     0
v06_lowerci_95    0
v06_upperci_95    0
v10_wt_median     0
v10_lowerci_95    0
v10_upperci_95    0
v15_wt_median     0
v15_lowerci_95    0
v15_upperci_95    0
v16_wt_median     0
v16_lowerci_95    0
v16_upperci_95    0
v23_wt_median     0
v23_lowerci_95    0
v23_upperci_95    0
v36_wt_median     0
v36_lowerci_95    0
v36_upperci_95    0
v41_wt_median     0
v41_lowerci_95    0
v41_upperci_95    0
v57_wt_median     0
v57_lowerci_95    0
v57_upperci_95    0
dtype: int64

In [ ]:
#check countries listed
countries=df['iso3'].unique()
countries

array(['AFG', 'AGO', 'ALB', 'ARE', 'ARG', 'ARM', 'ATG', 'AUS', 'AUT',
       'AZE', 'BDI', 'BEL', 'BEN', 'BFA', 'BGD', 'BGR', 'BHR', 'BHS',
       'BIH', 'BLR', 'BLZ', 'BOL', 'BRA', 'BRB', 'BRN', 'BTN', 'BWA',
       'CAF', 'CAN', 'CHE', 'CHL', 'CHN', 'CIV', 'CMR', 'COD', 'COG',
       'COL', 'COM', 'CPV', 'CRI', 'CUB', 'CYP', 'CZE', 'DEU', 'DJI',
       'DMA', 'DNK', 'DOM', 'DZA', 'ECU', 'EGY', 'ERI', 'ESP', 'EST',
       'ETH', 'FIN', 'FJI', 'FRA', 'FSM', 'GAB', 'GBR', 'GEO', 'GHA',
       'GIN', 'GMB', 'GNB', 'GNQ', 'GRC', 'GRD', 'GTM', 'GUY', 'HND',
       'HRV', 'HTI', 'HUN', 'IDN', 'IND', 'IRL', 'IRN', 'IRQ', 'ISL',
       'ISR', 'ITA', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KHM',
       'KIR', 'KOR', 'KWT', 'LAO', 'LBN', 'LBR', 'LBY', 'LCA', 'LKA',
       'LSO', 'LTU', 'LUX', 'LVA', 'MAR', 'MDA', 'MDG', 'MDV', 'MEX',
       'MHL', 'MKD', 'MLI', 'MLT', 'MMR', 'MNE', 'MNG', 'MOZ', 'MRT',
       'MUS', 'MWI', 'MYS', 'NAM', 'NER', 'NGA', 'NIC', 'NLD', 'NOR',
       'NPL', 'NZL', 'OMN', 'PAK', 'PAN', 'PER', 'PHL', 'PNG', 'POL',
       'PRT', 'PRY', 'PSE', 'QAT', 'ROU', 'RUS', 'RWA', 'SAU', 'SDN',
       'SEN', 'SGP', 'SLB', 'SLE', 'SLV', 'SRB', 'SSD', 'STP', 'SUR',
       'SVK', 'SVN', 'SWE', 'SWZ', 'SYC', 'SYR', 'TCD', 'TGO', 'THA',
       'TJK', 'TKM', 'TLS', 'TON', 'TTO', 'TUN', 'TUR', 'TWN', 'TZA',
       'UGA', 'UKR', 'URY', 'USA', 'UZB', 'VCT', 'VEN', 'VNM', 'VUT',
       'WSM', 'YEM', 'ZAF', 'ZMB', 'ZWE'], dtype=object)

In [ ]:
#search for outliers among countries 
df_check=df['iso3'].value_counts()

In [ ]:
df_check

EGY    756
FRA    756
MUS    756
AGO    756
GNB    756
      ...
BEN    756
SSD    756
SVN    756
LSO    756
VEN    756
Name: iso3, Length: 185, dtype: int64

In [ ]:
# mean values by coutries 
df_by_cnty=df.groupby(by="iso3").mean()
df_by_cnty

      v01_wt_median  v01_lowerci_95  ...  v57_lowerci_95  v57_upperci_95
iso3                                 ...
AFG       84.541060       44.551563  ...       39.468338      451.913873
AGO       99.801954       49.194092  ...       10.653789      144.973312
ALB      127.658663      100.186335  ...       92.694038      182.711196
ARE       92.838828       71.729833  ...       11.099376      128.192959
ARG       94.646383       75.238979  ...       48.188743      156.896879
...             ...             ...  ...             ...             ...
WSM      134.399129       98.280212  ...       19.699530      245.081215
YEM       44.482703       36.247155  ...       61.940299      122.073151
ZAF       96.525456       78.808441  ...       61.171698      161.449520
ZMB       78.737654       65.874485  ...       25.222204       65.820676
ZWE       91.470489       76.722188  ...       51.497003      133.922058

[185 rows x 33 columns]

In [ ]:
df_by_cnty.describe()

       v01_wt_median  v01_lowerci_95  ...  v57_lowerci_95  v57_upperci_95
count     185.000000      185.000000  ...      185.000000      185.000000
mean      103.827008       78.897856  ...       46.831253      189.574410
std        33.555227       28.350557  ...       30.938358      100.605412
min        35.968525       25.857675  ...        7.284067       16.359295
25%        81.502933       57.561492  ...       23.573487      106.912109
50%       102.744532       75.436532  ...       39.044468      166.622565
75%       121.725373       95.425080  ...       61.753789      262.138481
max       222.251745      171.276719  ...      179.106875      461.135285

[8 rows x 33 columns]

In [ ]:
df_by_cnty.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185 entries, AFG to ZWE
Data columns (total 33 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   v01_wt_median   185 non-null    float64
 1   v01_lowerci_95  185 non-null    float64
 2   v01_upperci_95  185 non-null    float64
 3   v02_wt_median   185 non-null    float64
 4   v02_lowerci_95  185 non-null    float64
 5   v02_upperci_95  185 non-null    float64
 6   v05_wt_median   185 non-null    float64
 7   v05_lowerci_95  185 non-null    float64
 8   v05_upperci_95  185 non-null    float64
 9   v06_wt_median   185 non-null    float64
 10  v06_lowerci_95  185 non-null    float64
 11  v06_upperci_95  185 non-null    float64
 12  v10_wt_median   185 non-null    float64
 13  v10_lowerci_95  185 non-null    float64
 14  v10_upperci_95  185 non-null    float64
 15  v15_wt_median   185 non-null    float64
 16  v15_lowerci_95  185 non-null    float64
 17  v15_upperci_95  185 non-null    float64
 18  v16_wt_median   185 non-null    float64
 19  v16_lowerci_95  185 non-null    float64
 20  v16_upperci_95  185 non-null    float64
 21  v23_wt_median   185 non-null    float64
 22  v23_lowerci_95  185 non-null    float64
 23  v23_upperci_95  185 non-null    float64
 24  v36_wt_median   185 non-null    float64
 25  v36_lowerci_95  185 non-null    float64
 26  v36_upperci_95  185 non-null    float64
 27  v41_wt_median   185 non-null    float64
 28  v41_lowerci_95  185 non-null    float64
 29  v41_upperci_95  185 non-null    float64
 30  v57_wt_median   185 non-null    float64
 31  v57_lowerci_95  185 non-null    float64
 32  v57_upperci_95  185 non-null    float64
dtypes: float64(33)
memory usage: 49.1+ KB

In [ ]:
drop_again=[ "v01_lowerci_95","v01_upperci_95","v02_lowerci_95","v02_upperci_95","v05_lowerci_95","v05_upperci_95","v06_lowerci_95","v06_upperci_95","v10_lowerci_95","v10_upperci_95","v15_lowerci_95","v15_upperci_95","v16_lowerci_95","v16_upperci_95","v23_lowerci_95","v23_upperci_95","v36_lowerci_95","v36_upperci_95","v41_lowerci_95","v41_upperci_95","v57_lowerci_95","v57_upperci_95"]

In [ ]:
df_by_cnty.drop(columns=drop_again,inplace=True)

In [ ]:
df_by_cnty

      v01_wt_median  v02_wt_median  ...  v41_wt_median  v57_wt_median
iso3                                ...
AFG       84.541060     206.268400  ...    2213.175832     123.929175
AGO       99.801954     104.118913  ...    2745.201052      38.280944
ALB      127.658663     126.918782  ...    2826.871124     127.222071
ARE       92.838828     144.535395  ...    2056.597657      37.160317
ARG       94.646383     120.996416  ...    2024.207759      86.539107
...             ...            ...  ...            ...            ...
WSM      134.399129     228.895654  ...    2525.646806      66.715850
YEM       44.482703      70.897785  ...    1622.396728      80.575678
ZAF       96.525456     134.061536  ...    2019.735038      92.552309
ZMB       78.737654     173.059497  ...    2357.587721      36.135268
ZWE       91.470489     134.223112  ...    1384.613724      73.659100

[185 rows x 11 columns]

In [ ]:
#normalize values
df_by_cnty_norm=(df_by_cnty - df_by_cnty.min())/ (df_by_cnty.max()-df_by_cnty.min())

In [ ]:
df_by_cnty_norm

      v01_wt_median  v02_wt_median  ...  v41_wt_median  v57_wt_median
iso3                                ...
AFG        0.260746       0.719040  ...       0.157376       0.414390
AGO        0.342669       0.314636  ...       0.248354       0.101777
ALB        0.492208       0.404899  ...       0.262320       0.426409
ARE        0.305289       0.474643  ...       0.130601       0.097687
ARG        0.314993       0.381453  ...       0.125062       0.277917
...             ...            ...  ...            ...            ...
WSM        0.528392       0.808620  ...       0.210810       0.205563
YEM        0.045706       0.183115  ...       0.056351       0.256151
ZAF        0.325080       0.433177  ...       0.124297       0.299865
ZMB        0.229592       0.587568  ...       0.182071       0.093945
ZWE        0.297944       0.433817  ...       0.015689       0.230906

[185 rows x 11 columns]

In [ ]:
#integer encoding for country 
dico= dict(zip(countries,range(185)))

In [ ]:
df_by_cnty_norm= df_by_cnty_norm.reset_index()

In [ ]:
df_by_cnty_norm= df_by_cnty_norm.replace({'iso3':dico})

In [ ]:
df_by_cnty_norm

     iso3  v01_wt_median  ...  v41_wt_median  v57_wt_median
0       0       0.260746  ...       0.157376       0.414390
1       1       0.342669  ...       0.248354       0.101777
2       2       0.492208  ...       0.262320       0.426409
3       3       0.305289  ...       0.130601       0.097687
4       4       0.314993  ...       0.125062       0.277917
..    ...            ...  ...            ...            ...
180   180       0.528392  ...       0.210810       0.205563
181   181       0.045706  ...       0.056351       0.256151
182   182       0.325080  ...       0.124297       0.299865
183   183       0.229592  ...       0.182071       0.093945
184   184       0.297944  ...       0.015689       0.230906

[185 rows x 12 columns]

In [ ]:
df_by_cnty_norm.to_csv('Base_Diet_Clean.csv')